<div class="quiz_grid">
<%= form_tag('/quiz_images/4') %>
<%= hidden_field_tag 'quiz_image[:value]' %>
<%= image_submit_tag "leather_jacket.jpg" %>
<%= form_tag('/quiz_images/4') %>
<%= hidden_field_tag 'quiz_image[:value]' %>
<%= image_submit_tag "leather_jacket.jpg" %>
<%= form_tag('/quiz_images/4') %>
<%= hidden_field_tag 'quiz_image[:value]' %>
<%= image_submit_tag "leather_jacket.jpg" %>
<%= form_tag('/quiz_images/4') %>
<%= hidden_field_tag 'quiz_image[:value]' %>
<%= image_submit_tag "leather_jacket.jpg" %>
</div>