<% if session[:current_user_id] %>
  Welcome, <%= User.find(session[:current_user_id]).username %>
  <%= link_to "Log Out", sessions_path, method: :delete %>
<% else %>
	<%= link_to "Log In", login_path %> |
	<%= link_to "Sign Up", new_user_path %>
<% end %>

<p>
  <%= form_tag '/zipcode' do %>
    <%= label_tag :zipcode %>
    <%= text_field_tag :zipcode %>

    <%= submit_tag 'Submit' %>
  <% end %>
</p>

<!-- Check on how to store zipcode in session -->