<section class='results'>


<% @search_results["businesses"].each do |bar| %></br>
<%= link_to bar['name'].titleize, bar["url"] %> <br/>
	
<div class='resultsimg'>
<img src= "<%=bar["image_url"]%>"></br>
</div>

<% bar["location"]["display_address"].each do |address|%> 
	<%= address %></br>
<% end %>

Rating: <img src= "<%=bar["rating_img_url_small"]%>"></br>

<% if session[:current_user_id] %>
	<%= form_tag "/users", :method => :put do  %>
		<%= hidden_field_tag :business_id, bar["id"] %>
		<%= submit_tag "SAVE THIS BAR" %>
	<% end %>			
<% end %>	
<hr>
<% end %>

</section>