<h1> Hi, <%= @user.username.capitalize %></h1>

<hr>

<section class ='results'>
<% if @businesses.count == 0 %>
	<%= link_to "Start looking for bars now", '/', style: 'color:black;'%>
<% end %>	

<div class = 'resultsname'>
<% @businesses.each do |bar| %>
<%= link_to (BusinessAPI.retrieve_business(bar.business_id)["name"].titleize), BusinessAPI.retrieve_business(bar.business_id)["url"], style: 'color:black;'%></br>
</div>

<div class='resultsimg'>

<img src="<%= (BusinessAPI.retrieve_business(bar.business_id)["image_url"]) %>"></br>
</div>


<%= BusinessAPI.retrieve_business(bar.business_id)["location"]["display_address"][0] %></br>
	<%= BusinessAPI.retrieve_business(bar.business_id)["location"]["display_address"][1] %></br>
	<%= BusinessAPI.retrieve_business(bar.business_id)["location"]["display_address"][2] %></br>
	<%= BusinessAPI.retrieve_business(bar.business_id)["phone"] %></br>

Rating: <img src="<%= (BusinessAPI.retrieve_business(bar.business_id)["rating_img_url_small"]) %>" ></br>
	
	<%= form_tag "/users/#{@user.id}/remove_bar", :method => :delete do  %>
		<%= hidden_field_tag :business_id, bar.id %>
		<%= submit_tag "DELETE" %>
	<% end %>
<hr>
<% end %>

</section>




