<body class = 'homepage'>

<section id = "nav">

	<div id = "links">
		<% if session[:current_user_id] %>
  	Welcome, <%= User.find(session[:current_user_id]).username.capitalize %> | 
  	<%= link_to "My Bars", user_path(session[:current_user_id]) %>  |
  	<%= link_to "Log Out", sessions_path, method: :delete %>
		<% else %>
		<%= link_to "LOG IN", login_path %> | 
		<%= link_to "SIGN UP", new_user_path %>
	<% end %>
	</div>

	<div id = 'logo'>
		<%= image_tag "searchbarlogo.png" %>
	</div>

</section>

	<article id = 'title'>
	<br>SEARCH BAR</br>
	</article>


	<br>

	<section class ='caption'>
	
	<div class = 'transparency'>
		.

	</div>

	<h6>Here to help the indecisive alcoholic.</br> 
			Enter your address. Pick an image. Bottoms up!</h6>


	</section>

	<div id = 'zipform'>
		<%= form_tag ('/bars') do %>
			<span><% label_tag :location %></span> 
			<span><%= text_field_tag :location, nil, :placeholder => "Address, Eg: '11211' or 'Williamsburg, Brooklyn'", :style => "width:350px;"%></span>
			<%= submit_tag 'SEARCH' %>
		<% end %> 
	</div>
</p>

</body>

<%# if session[:current_user_id] %>
  <%# User.find_by(session[:current_user_id].zip_codes.push[:zip_code])%>
<%# end %>
