<div id = "nav">
<% if session[:current_user_id] %>
  Welcome, <%= User.find(session[:current_user_id]).username %>
  <%= link_to "LOG OUT", sessions_path, method: :delete %>
<% else %>
	<%= link_to "LOG IN", login_path %> |
	<%= link_to "SIGN UP", new_user_path %>
<% end %>
</div>

<div id = 'welcome'>
	<%= form_tag ('/bars') do %>
	<%= label_tag :zip_code %><br>
	<%= text_field_tag :zip_code %><br>
	<%= submit_tag 'Submit'%>
	<% end %>
<% end %>  

<p>
<div id = 'logo'>
<img src= "http://s17.postimg.org/5hbcnxwwf/searchbarlogo.png" style= "width: 100%">
</div>
</p>


<article id = 'title'>
<br>SEARCH BAR</br>
</article>

<div id = 'zip'>
<%= form_tag ('/bars') do %>
<%= label_tag :zip_code %><br>
<%= text_field_tag :zip_code %><br>
<%= submit_tag 'SUBMIT'%> 
<% end %> 
</div>


<%# if session[:current_user_id] %>
  <%# User.find_by(session[:current_user_id].zip_codes.push[:zip_code])%>
<%# end %>
