<section id = "nav">
<% if session[:current_user_id] %>
  Welcome, <%= User.find(session[:current_user_id]).username.capitalize %>

 <div class = "button">
  <%= link_to "LOG OUT", sessions_path, method: :delete %>
	<% else %>
	</div>

	<div class = "button">
	<%= link_to "LOG IN", login_path %> 
	</div>

	<div class = "button">
	<%= link_to "SIGN UP", new_user_path %>
	</div>

<% end %>
</section>



<p>
<div id = 'logo'>
	<%= image_tag 'searchbarlogo.png' %>
</div>
</p>

<article id = 'title'>
<br>SEARCH BAR</br>
</article>

<p>
<section id = 'zipform' class="search">
<%= form_tag ('/bars') do %>

<span><%= label_tag :zip_code %>: </span> 

<%= text_field_tag :zip_code %><br>

<div id = 'submit'>
<%= submit_tag 'SUBMIT' %>
</div>

<% end %> 
</section>
</p>


<%# if session[:current_user_id] %>
  <%# User.find_by(session[:current_user_id].zip_codes.push[:zip_code])%>
<%# end %>
