<div class="quiz_grid">
	<div class="quiz_image">
		<%= form_tag('/quiz_images/1') do %>
		<%= hidden_field_tag [:value], (@category_1_quiz_image1.value) %>
		<%= image_submit_tag @category_1_quiz_image1.filepath %>
		<% end %>
	</div>	

	<div class="quiz_image">
		<%= form_tag('/quiz_images/1') do %>
		<%= hidden_field_tag [:value], (@category_1_quiz_image2.value) %>
		<%= image_submit_tag @category_1_quiz_image2.filepath %>
		<% end %>
	</div>	

	<div class="quiz_image">
		<%= form_tag('/quiz_images/1') do %>
		<%= hidden_field_tag [:value], (@category_1_quiz_image3.value) %>
		<%= image_submit_tag @category_1_quiz_image3.filepath %>
		<% end %>
	</div>	

	<div class="quiz_image">
		<%= form_tag('/quiz_images/1') do %>
		<%= hidden_field_tag [:value], (@category_1_quiz_image4.value) %>
		<%= image_submit_tag @category_1_quiz_image4.filepath %>
		<% end %>
	</div>
</div>	
