
<div class="quiz_grid">
<%= form_tag('/quiz_images/3') %>
<%= hidden_field_tag quiz_image[:value] %>
<%= image_submit_tag "bow_tie.jpg" %>

<%= form_tag('/quiz_images/3') %>
<%= hidden_field_tag quiz_image[:value] %>
<%= image_submit_tag "bow_tie.jpg" %>

<%= form_tag('/quiz_images/3') %>
<%= hidden_field_tag quiz_image[:value] %>
<%= image_submit_tag "bow_tie.jpg" %>

<%= form_tag('/quiz_images/3') %>
<%= hidden_field_tag quiz_image[:value] %>
<%= image_submit_tag "bow_tie.jpg" %>

</div>
