<!DOCTYPE html>
<html>

<head>
  <title>Search Bar</title>
  <link rel="shortcut icon" href="img-tag" type="image/x-icon" />
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<br>

<div id= 'homeicon'>
<%= image_tag 'searchbarheader.png', link_to root_path  %>
</div>

<div id="main">
<%= yield %>
</div>

</body>
</html>

